@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,greek,greek-ext);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700);

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 100, 136, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */


  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

$xxs:   530px;
$xs:    767px;
$sm:    768px;
$smd:   800px;
$md:    991px;
$lg:   1199px;




@mixin maxW($w) {
    @media screen and (max-width: $w) {@content;}
}

@mixin minW($w) {
    @media screen and (min-width: $w) {@content;}
}
 
@mixin xxs {
    @include maxW($xxs) {@content;}
} 

@mixin xs {
    @include maxW($xs) {@content;}
} 

@mixin sm {
    @include minW($sm) {@content;}
} 

@mixin md {
    @include minW($md) {@content;}
} 

@mixin lg {
    @include minW($lg) {@content;}
} 


 

@include xs{
   .container {
         width: 100%;
    }
}

@include sm {
  .container {
      width: 100%;
  }
}

@include md {
  .container {
      width: 940px;
  }
}

@include lg {
  .container {
      width: 940px;
  }
}


#cssMode {
  
  position:fixed;
  top:0px;
  left:0px;
  background-color:yellow;
  border: 2px solid red;
  color:red;
  z-index:5;
  padding:0px;


  h1 {
      font-size:1em;
      padding:0px;
      margin:0px auto;

  }

  @include xxs {
    background-color:red;
  }

  @include xs {
    background-color:orange;
    color:blue;
  }

   @include xxs {
    background-color:red;
    color:yellow;
  }

  @include sm {
    background-color:yellow;
  }
  @include md {
    background-color:cyan;
  }
  @include lg {
    background-color:green;
    color:yellow;
  }

}

.visible-xxs {
  display:none !important;
}


@include xxs{
  .visible-xxs {
    display:block !important;
  }
}


// * {
//         box-sizing: border-box !important;
//         :hover {
//           border:thin solid red;
//         }
// }

body {
	font-family: 'Open Sans', sans-serif !important;
	line-height:20px;
  background-color:white;
}

html,body{
    height: 100%;
    width:  100%;
}


#app{

}

@import "topPart";

@import "bottomPart";

#stub{
    text-align: center;
    justify-content: center;
    font-size: 32px;
    padding: 60px;
    line-height: 50px;
    margin-bottom: 50px;
    border: 1px solid darkgray;
    background-image: url("/images/minions-at-work.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:561px;
    @include xs {
         background-size:cover;
         font-size:20px;
         line-height: 30px;

    }
    @include lg {
         background-size:contain;
         font-size:40px;
         line-height: 50px;
         padding: 80px;

    }
}


.blueBtn {
    background: #006991 !important;
    padding: 10px 25px;
    color: #FFF !important;
    margin: 0px auto;
    min-width: 150px;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 300 !important;
    border: none;
}


@import "pages/homePage";

@import "pages/textPages";



@include xs {

  .container, .container-fluid, .row , [class*=' col-'] {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }

}


